# Node module Dependency directories
node_modules
npm-debug.log

#Visual Studio Code developer tool configuration
.vscode

#ignore js and js maps from the app folder
/src/app/*.js
/src/app/*.js.map

#ignore main js and main js map
/src/main.js
/src/main.js.map